{% extends 'layout.html' %}

{% block content %}
<div class="title">
        <h1>{{ titlep }}</h1>
        <p>{{ description }}</p>
</div>
    <div class="parent">
            <div class="child1">
                <form action="{{ url_for('books') }}" method="post">

                    <div>
                    <input type="text" name="search" placeholder="Search for Title, Author or ISBN">
                    <select type="select" id="stype" name="whatcol">
                        <option value="title">Title</option>
                        <option value="author">Author</option>
                        <option value="year">Year</option>
                        <option value="isbn">ISBN</option>
                        </select>
                        <button class="btn" type="submit">Search</button>
                    </div>
        
                </form>

                {% if not booksfound %}

                <p>Sorry, nothing found.</p>
                


                {% else %}
                <table>
                    <thead>
                        <td>ID</td>
                    <td>Title</td>
                    <td>Author</td>
                    <td>Year</td>
                    <td>ISBN</td>
                    </thead>
                    
                    {% for id, title, author, year, isbn in booksfound %}
                    <tr>
                            <td>{{ id }}</td>
                        <td>{{ title }}</td>
                        <td>{{ author }}</td>
                        <td>{{ year }}</td>
                        <td><a href="{{ url_for('book', book_id=id) }}">{{ isbn }}</a></td>
                        </a>


                    </tr>
                    {% endfor %}
                </table>


                
                {% endif %}

            </div>
            <div class="child2">
                <img width="300" src="{{ (url_for('static', filename = 'img/books_bw.jpg')) }}" />
            </div>
         

    
    
    </div>
    
{% endblock %}
