<!doctype html>
<html>

  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bookstyle.css') }}">
  </head>

  <body>
    <!--navigatopn bar-->
    {% include 'navigation.html' %}
    
      <div>
        <!-- alert messages -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class=flashes>
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <!--page content from templates-->
        {% block content %}{% endblock %}

      </div>
    </body>
</html>
