  
{% extends "encyclopedia/layout.html" %}

{% block title %}
Search Results
{% endblock %}

{% block body %}
<h2>Search results</h2>
{% if entries|length %}
      <p>These entries contain:</p><h3>{{ query }}</h3>
      <br>
      <ul>
        {% for entry in entries %}
        {% if entry in entries %}
        <li><a href="/wiki/{{ entry }}">{{ entry }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
{% else %}
<p>Sorry, no records for:</p><h3>{{ query }}</h3>
{% endif %}

{% endblock %}